@page
@model AssetManagement.Pages.Purchases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Product.ProductFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Purchase.PurchaseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
